*
{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.navbar
{
    background: rgb(223, 155, 28);
    width: 100%;
    clear: both;
    content: '';
    display: table;
    box-shadow: 0px 0px 10px;
}


.menu
{
    width: 900px;
    margin: 0 auto;
}

img
{
    width: 110px;
    height: 70px;
    float: left;
    padding: 8px;
}

nav 
{
    float: right;
}

nav ul li
{
    list-style: none;
    margin-left: 50px;
    float: left;
    padding: 25px 5px;
}

nav ul li a
{
    text-decoration: none;
    color:rgb(0, 0, 0);
    font-weight: bold;
    padding: 5px;
    
}

nav ul li:hover
{
background-color: rgb(252, 220, 174) ;
color: black;
border-radius: 10px 10px 10px;
}

/*------Contenido de la Página--------*/


body
{
    background-color: #fff;
    color: #000000;
    font-family: 'Arial', sans-serif;
    font-size: 14px;
    position: relative;
}

#container
{
    width: 60%;
    background:rgb(245, 143, 70);
    margin: 20px auto;
    padding: 25px;
}

header
{
    text-align: center;
    border-bottom:rgb(0, 0, 0) dashed 1px;
}

header padding
{
    padding: 0;
    margin-top: 5px;
    color:#000;
}

header .subtitulo
{
    background-color: rgb(153, 242, 101);
    padding: 10px;
    margin: 10px 0;
    border-radius: 20px;
    text-align: center;
} 

header h1
{
    margin: 0;
    padding: 0;
    color: #000000;
}

h3
{
    color:#000000;
}

section
{
    min-height: 410px;
}

input[type='submit']
{
    background: #f06226;
    border-radius: 20px;
    color:#fff;
    padding: 10px 15px;
    cursor: pointer;
}

button
{
    background: #f06226;
    border-radius: 20px;
    color:#fff;
    padding: 10px 15px;
    cursor: pointer;
}


#resultado span
 {
     color:#000;
     font-weight: bold;
 }

 #resultado h3
 {
     background:#52c46ed5;
     padding: 10px;
     margin: 10px 0;
     border-radius: 20px;
     text-align: center;
 }

